@bank:registry=http://172.16.0.160:81/npm/synyinpm
//172.16.0.160:81/npm/:_password=bnBtdXBsb2Fk
//172.16.0.160:81/npm/:username=npmupload
//172.16.0.160:81/npm/:email=huang.hesui@synyi.com
//172.16.0.160:81/npm/:always-auth=true
@synyi:registry=http://172.16.0.160:81/npm/synyinpm
//172.16.0.160:81/npm/:_password=bnBtdXBsb2Fk
//172.16.0.160:81/npm/:username=npmupload
//172.16.0.160:81/npm/:email=huang.hesui@synyi.com
//172.16.0.160:81/npm/:always-auth=true
phantomjs_cdnurl=https://npm-raw-mirror.sh.synyi.com/phantomjs/
sass_binary_site=https://npm-raw-mirror.sh.synyi.com/node-sass/
registry=https://npm-mirror.sh.synyi.com/
